<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522748217423-ha2r4ks86g3f90i1go6pcpmgkqs1c992.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522748217423-ha2r4ks86g3f90i1go6pcpmgkqs1c992</string>
	<key>API_KEY</key>
	<string>AIzaSyCTg-e8Hxb8jonH6T4N0DR95H9sA22Ejjo</string>
	<key>GCM_SENDER_ID</key>
	<string>522748217423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MultipleFunction.ios</string>
	<key>PROJECT_ID</key>
	<string>multiplefunction-2b2b9</string>
	<key>STORAGE_BUCKET</key>
	<string>multiplefunction-2b2b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522748217423:ios:00c8083b1311c1d1b0023a</string>
	<key>DATABASE_URL</key>
	<string>https://multiplefunction-2b2b9-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>